@model IEnumerable<FantasyEuroleague.Models.EightPlayerTeam>

@{
    ViewBag.Title = "Rankings";
    Layout = "~/Views/Shared/_LayoutW.cshtml";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">    
</head>
<header class="masthead7">
    <div class="container body-content players-f">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 justify-content-center"><h2><i class="fas fa-2x fa-trophy justify-content-center"></i>Fantasy Teams </h2></div>
            <div class="col-md-4"></div>
        </div>
        <table id="teams" class="table table-bordered">
            <thead>
                <tr>
                    <th>Coach</th>
                    <th>Team Name</th>
                    <th>Current Value</th>
                    <th>Total Score</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var team in Model)
                {
                <tr>
                    <td>@team.User.UserName</td>
                    <td>@team.Name</td>
                    <td>@team.CurrentValue</td>
                    <td>@team.TotalScore</td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</header>


