@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutW.cshtml";
}


<!-- Masthead-->
<header class="masthead1">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Begin your journey to find out if you got what it takes to win</h1>
                <hr class="divider my-4" />
            </div>

        </div>
    </div>
</header>

<!--End Masthead -->
<!-- Services section-->
<section class="page-section" id="services">
    <div class="container">
        <span class="text-center mt-0">

            <h2> <i class="fas fa-2x fa-basketball-ball text-primaryF mr-4"></i>Draft Your Team</h2>
            <hr class="divider my-4" />
        </span>
        <div class="row">
            <div class="col-md-8">
                <img src="~/Content/images/placementsInfo.jpeg" class="img-responsive" id="info-img" alt="Placements Info Basketball" />
            </div>
            <div class="col-md-4">
                <h1>Introduction</h1>
                <p>Fantasy Basketball lets you try your skills as a fantasy owner. You draft players, compete against other fantasy owners, and use all your skills to win the championship. Learning how to play fantasy football is easy, conquering your competitors and becoming a champion is a different story.</p>
                <h2>Manage</h2>
                <p>Create your team by choosing wisely from the Players available in this year's Season Roster. Use your budget of €10m to pick a squad of 8 players from the Euroleague. Play against friends, family and colleagues. It’s FREE to play and you can win great prizes! Use your skills and management spirit to draft the best players that YOU know that will make a difference and dominate the season. Make every choice count. Stay always informed from reliable news providers for the Euroleague to select the best lineup you can.</p>
                <h2>Draft Opportunities</h2>
                <p>As a fantasy owner, you’re in total control. You can drop players you think aren’t good enough and replace them with others. There are 3 possible changes at each Round - Use them wisely! The players’ real-time stats are converted into fantasy points by your league provider, and the fantasy team that scores the most points wins the game for the week. The goal is to win as many games as possible to become the champion.</p>
                <h2>Compete With Your Friends</h2>
                <p>Check the Rankings to see your team against other users' teams and get to the top!</p>

            </div>
        </div>
       
     
    </div>
</section>