
@{
    ViewBag.Title = "CreateData";
}

        <h2>CreateData</h2>


        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#playerstats" aria-controls="playerstats" role="tab" data-toggle="tab">Player Stats</a></li>
                <li role="presentation"><a href="#games" aria-controls="games" role="tab" data-toggle="tab">Season Games</a></li>
                <li role="presentation"><a href="#players" aria-controls="players" role="tab" data-toggle="tab">Players</a></li>
            </ul>
            <div class="tab-content">
                <br />
                <div role="tabpanel" class="tab-pane active" id="playerstats">
                    <div class="row flex">
                        <p>Note: Check if you have Season's Games and Players in Database from migrations.</p>
                        <div class="col-md-6">
                            <p>STEP 1: Choose the Game Round and click</p>
                            <br />
                            <button d data-api-url="https://api.jsonbin.io/b/5e906bb3172eb64389617023" data-round-number="1" class="btn btn-info btn-sm js-getstats"> ROUND 1 : GET Player Stats</button>
                            <br />
                            <br />
                            <button d data-api-url="https://api.jsonbin.io/b/5e9716b4435f5604bb41e88e" data-round-number="2" class="btn btn-info btn-sm js-getstats"> ROUND 2 : GET Player Stats</button>
                            <br />
                            <br />
                            <button d data-api-url="https://api.jsonbin.io/b/5e97173a5fa47104cea0f1ff" data-round-number="3" class="btn btn-info btn-sm js-getstats"> ROUND 3 : GET Player Stats</button>
                            <br />
                            <br />
                            <button d data-api-url="https://api.jsonbin.io/b/5e971772435f5604bb41e8ef/1" data-round-number="4" class="btn btn-info btn-sm js-getstats"> ROUND 4 : GET Player Stats</button>
                            <br />
                            <br />
                            <button d data-api-url="https://api.jsonbin.io/b/5e9717c82940c704e1d891af" data-round-number="5" class="btn btn-info btn-sm js-getstats"> ROUND 5 : GET Player Stats</button>
                            <br />
                            <br />
                            <button d data-api-url="https://api.jsonbin.io/b/5e9718012940c704e1d891d1" data-round-number="6" class="btn btn-info btn-sm js-getstats"> ROUND 6 : GET Player Stats</button>
                            <br />
                            <br />
                            <button d data-api-url="https://api.jsonbin.io/b/5e971839435f5604bb41e94a" data-round-number="7" class="btn btn-info btn-sm js-getstats"> ROUND 7 : GET Player Stats</button>
                            <br />
                            <br />
                            <button d data-api-url="https://api.jsonbin.io/b/5e9718615fa47104cea0f2a9/1" data-round-number="8" class="btn btn-info btn-sm js-getstats"> ROUND 8 : GET Player Stats</button>
                            <br />
                            <br />
                            <button d data-api-url="https://api.jsonbin.io/b/5e9718962940c704e1d8920e" data-round-number="9" class="btn btn-info btn-sm js-getstats"> ROUND 9 : GET Player Stats</button>
                            <br />
                            <br />
                            <button d data-api-url="https://api.jsonbin.io/b/5e9718bc5fa47104cea0f2d5" data-round-number="10" class="btn btn-info btn-sm js-getstats"> ROUND 10 : GET Player Stats</button>
                            <br />
                            <br />
                            <button d data-api-url="https://api.jsonbin.io/b/5e971910435f5604bb41e9b4" data-round-number="11" class="btn btn-info btn-sm js-getstats"> ROUND 11 : GET Player Stats</button>
                            <br />
                            <br />
                            <button d data-api-url="https://api.jsonbin.io/b/5e9719455fa47104cea0f314" data-round-number="12" class="btn btn-info btn-sm js-getstats"> ROUND 12 : GET Player Stats</button>
                            <br />
                            <br />
                            <button d data-api-url="https://api.jsonbin.io/b/5e971988435f5604bb41e9f1" data-round-number="13" class="btn btn-info btn-sm js-getstats"> ROUND 13 : GET Player Stats</button>
                            <br />
                            <br />
                            <button d data-api-url="https://api.jsonbin.io/b/5e9719b1435f5604bb41ea10" data-round-number="14" class="btn btn-info btn-sm js-getstats"> ROUND 14 : GET Player Stats</button>
                            <br />
                            <br />
                            <button d data-api-url="https://api.jsonbin.io/b/5e971a415fa47104cea0f39c/1" data-round-number="15" class="btn btn-info btn-sm js-getstats"> ROUND 15 : GET Player Stats</button>
                            <br />
                            <br />
                            <button d data-api-url="https://api.jsonbin.io/b/5e971c232940c704e1d893eb" data-round-number="16" class="btn btn-info btn-sm js-getstats"> ROUND 16 : GET Player Stats</button>
                            <br />
                            <br />
                            <button d data-api-url="https://api.jsonbin.io/b/5e971c54435f5604bb41eb77" data-round-number="17" class="btn btn-info btn-sm js-getstats"> ROUND 17 : GET Player Stats</button>
                            <br />
                            <br />
                            <button d data-api-url="https://api.jsonbin.io/b/5e971c9d5fa47104cea0f4ae" data-round-number="18" class="btn btn-info btn-sm js-getstats"> ROUND 18 : GET Player Stats</button>
                            <br />
                            <br />
                            <button d data-api-url="https://api.jsonbin.io/b/5e971ce9435f5604bb41ebd3" data-round-number="19" class="btn btn-info btn-sm js-getstats"> ROUND 19 : GET Player Stats</button>
                            <br />
                            <br />
                            <button d data-api-url="https://api.jsonbin.io/b/5e971d14435f5604bb41ebf6/1" data-round-number="20" class="btn btn-info btn-sm js-getstats"> ROUND 20 : GET Player Stats</button>
                            <br />
                            <br />
                        </div>
                        <p>Step 2: Submit in the Database</p>
                        <br />
                        <div class="col-md-6">    <button d class="btn btn-info btn-sm js-poststats">STEP 2.1 : POST Selected round in DB</button>
                        <br/>
                        <br/>
                        <button d class="btn btn-info btn-sm js-runstatsinDB">STEP 2.2 : Run Stats in DB of users for Selected round</button></div>
                    </div>
                </div><!--end div of tab playerstats-->
                <div role="tabpanel" class="tab-pane" id="games">
                    <br />
                    <p>Step 1 : Get SCHEDULED GAMES</p>
                    <br />
                    <button d class="btn btn-danger btn-sm js-get">1 : GET Games</button>
                    <br />
                    <br />
                    <p>Step 2 : Populate SCHEDULED GAMES</p>
                    <br />
                    <button d class="btn btn-danger btn-sm js-post">2 : POST each game</button>
                    <br />
                    <br />
                </div>
                <div role="tabpanel" class="tab-pane" id="players">
                    <br />
                    <p>Step 1 : Get Country 3 codes from REST Countries</p>
                    <br />
                    <button d class="btn btn-warning btn-sm js-get-countries">1 : GET countries</button>
                    <br />
                    <br />
                    <p>Step 2 : Get Players from API</p>
                    <br />
                    <button d class="btn btn-warning btn-sm js-get-players">2 : GET Players</button>
                    <br />
                    <br />
                    <p>Step 3 : Add Country3Code in Player</p>
                    <br />
                    <button d class="btn btn-warning btn-sm js-edit-players-wcountries">3 : ADD data</button>
                    <br />
                    <br />
                    <p>Step 4 : Populate Players in Database</p>
                    <br />
                    <button d class="btn btn-warning btn-sm js-post-players">4 : POST each player</button>
                    <br />
                    <br />
                </div>

            </div>
          
        </div>
        @section scripts
{
            <script lang="en" type="text/javascript">
                $(document).ready(function () {
                    var listdata = [];
                    var liststats = [];
                    var listplayers = [];
                    var listCountries = [];
                    var roundNow = 0;
                    //////////////////// PLAYERS
                    //// GET Players - listplayers[]
                    $(".js-get-players").click(function (e) {
                        //GET Players
                        var button = $(e.target);
                        $.ajax({
                            type: 'GET',
                            url: 'https://api.jsonbin.io/b/5e9437f0b08d064dc025fdae',
                            datatype: 'json',
                            success: function (data) {
                                listplayers = data;
                            }
                        }).done(
                            function () {
                                 button
                                    .removeClass("btn-warning")
                                    .addClass("btn-default");
                                //console.log("success");
                                console.log(listplayers);
                            });//done
                    }); //button get

                    //// GET Countries - listCountries[]
                    $(".js-get-countries").click(function (e) {
                        //GET Players
                        var button = $(e.this);
                        $.ajax({
                            type: 'GET',
                            url: 'https://restcountries.eu/rest/v2/all?fields=name;alpha3Code;currenciesSources',
                            datatype: 'json',
                            success: function (data) {
                                listCountries = data;
                            }
                        }).done(
                            function () {
                                 button.removeClass("btn-warning").addClass("btn-default");
                            });//done
                    }); //button get

                    //// Edit listplayers to push() corresponding Country3cODE
                    $(".js-edit-players-wcountries").click(function (e) {
                        var button = $(e.this);
                        button.removeClass("btn-warning").addClass("btn-default");
                        console.log(listplayers);
                        var country3code = "";
                        for (let i = 0; i < listplayers.rows.length; i++) { 
                            var player = listplayers.rows[i];
                            var country = player[5];
                            for (let j = 0; j < listCountries.length; j++) {
                                if (listCountries[j].name == country)
                                { country3code = listCountries[j].alpha3Code };
                            };
                            listplayers.rows[i].push(country3code);
                        };
                    });//end button js-edit-players-wcountries

                    ///Posting each player in a for()
                    $(".js-post-players").click(function (e) {
                        console.log(listplayers);
                        for (let i = 0; i < listplayers.rows.length; i++) // i< 1; i++) //=180
                        {
                            var player = listplayers.rows[i];
                            console.log(player);

                            $.ajax({
                                dataType: "json",
                                contentType: "application/json",
                                url: "/api/players/createplayer", //"/game/getgames",//
                                method: "POST",
                                traditional: true,
                                data: JSON.stringify(player),
                                error: function (xhr) {
                                    console.log(xhr.responseText);
                                }
                            });//ajax close
                        }//for close
                    }); //button post

                    ////////////////////// GAMES
                    //// GET Games - listdata[]
                    $(".js-get").click(function (e) {
                        //GET GAMES
                        $.ajax({
                            type: 'GET',
                            url: 'https://api.jsonbin.io/b/5e906b3ccc62be4369c224cd',
                            datatype: 'json',
                            success: function (data) {
                                listdata = data;
                            }
                        }).done(
                            function () {
                                console.log("success");
                                console.log(listdata);
                            });//done
                    }); //button get

                    /////Posting ALL game in a for()
                    $(".js-post").click(function () {
                        console.log(listdata);
                        for (let i = 0; i < 1; i++) 
                        {
                            listdata.rows[i].pop();
                            var game = listdata.rows;

                            $.ajax({
                                dataType: "json",
                                contentType: "application/json",
                                url: "/api/players/createallgames",
                                method: "POST",
                                traditional: true,
                                data: JSON.stringify(game)
                                , success: console.log("Success - Data Submitted!")
                            });
                        }
                    }); //button post

                    ////////////////////// GET STATS
                    //// GET Player Stats - liststats[]
                    $(".js-getstats").click(function (e) {
                        liststats = [];
                        var button = $(e.target);
                        var round = button.attr("data-round-number");
                        roundNow = button.attr("data-round-number");
                        $.ajax({
                            type: 'GET',
                            url: button.attr("data-api-url"),
                            datatype: 'json',
                            success: function (data) {
                                liststats = data;
                                for (let i = 0; i < liststats.rows.length; i++)
                                { liststats.rows[i].push(round); }
                                console.log(liststats.rows);
                            }
                        }).done(
                            function () {                       
                                button
                                    .removeClass("btn-info")
                                    .addClass("btn-default");
                            });//done
                    }); //button get

                    ////POST STATS for each
                    $(".js-poststats").click(function (e) {
                        console.log(liststats);
                        for (let i = 0; i < liststats.rows.length; i++) 
                        {
                            var game = liststats.rows[i];
                            console.log(game);
                            console.log(i);
                            $.ajax({
                                dataType: "json",
                                contentType: "application/json",
                                url: "/api/players/createplayerstats",
                                method: "POST",
                                traditional: true,
                                data: JSON.stringify(game),
                                error: function (xhr) {
                                   // console.log(xhr.responseText);
                                }
                            });//end ajax
                        }
                    }); //button post

                    $(".js-runstatsinDB").click(function (e) {
                        console.log(roundNow);
                        var button = $(e.target);
                    //    $.post("-api/fantasyteams/updateteamsdata", { id: roundNow }).done(
                    //        function () {                       
                    //            button
                    //                .removeClass("btn-info")
                    //                .addClass("btn-default");
                    //        });//done;//end ajax
                        $.ajax({
                            dataType: "json",
                            contentType: "application/json",
                            url: "/api/players/updateteamsdata/"  + roundNow,
                            method: "POST",
                           // traditional: true,
                            data: roundNow,
                            error: function (xhr) {// console.log(xhr.responseText); 
                            }
                             }).done(
                            function () {                       
                                button
                                    .removeClass("btn-info")
                                    .addClass("btn-default");
                            });//done;//end ajax
                    }); //button post

                });//doc ready


              

            </script>
        }
